<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="org.sergiolopes.pedidapp" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>Só de Cenoura em Casa</name>
  <description>
    Peça seus bolos sem sait de casa
  </description>
  <author href="http://sergiolopes.org"
          email="qualquer@sergiolopes.org">
      Sérgio Lopes
  </author>
  <content src="index.html"/>
  
  <access origin="http://cozinhapp.sergiolopes.org" />

  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="android-minSdkVersion" value="16"/>
  <preference name="BackupWebStorage" value="none"/>
  <preference name="SplashScreen" value="screen"/>
  <preference name="SplashScreenDelay" value="3000"/>
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
</widget>